---
http_interactions:
- request:
    method: get
    uri: https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YVI3UjA5emVQcTBPU2ZPdHR2dVFEcmZkTTRuMzdpMEM6RjlBZWJJNmF6RGxSakxpUg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n            \"access_token\": \"LuHiNX8mLnU5NCWZWBub8nhandRE\",\n
        \           \"expires_in\": \"3599\"\n        }\n        "
  recorded_at: Thu, 28 Nov 2019 13:01:24 GMT
- request:
    method: post
    uri: https://sandbox.safaricom.co.ke/mpesa/c2b/v1/registerurl
    body:
      encoding: UTF-8
      string: '{"ResponseType":"Completed","ConfirmationUrl":"https://example.com/confirm","ValidationUrl":"https://example.com/confirm"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer LuHiNX8mLnU5NCWZWBub8nhandRE
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n                    \"requestId\":\"394-9243049-1\",\n                    \"errorCode\":
        \"400.003.02\",\n                    \"errorMessage\": \"Bad Request - Invalid
        ValidationURL\"\n                }\n            "
  recorded_at: Thu, 28 Nov 2019 13:19:33 GMT
recorded_with: VCR 5.0.0
